.header {
  max-height: 806px;
  background: #eff0f2;
  padding-top: 68px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  padding: 8px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(21,21,22,0.75);
  color: #000;
  border: 6px solid #170f1c;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header__button {
  border: 2px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: transparent;
  font-size: 18px;
  letter-spacing: 2.16px;
  color: rgba(0,0,0,0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 48px;
  text-transform: uppercase;
  line-height: 13px;
}
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  position: relative;
}
.header__title {
  text-shadow: 4px 8px 10px rgba(0,0,0,0.24);
  color: #505050;
  font-size: 31px;
  line-height: 52px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.7px;
  padding: 50px 0;
  text-align: center;
}
.header__title--attention {
  background-color: rgba(118,244,234,0.5);
}
.header__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 100px;
  display: none;
}
.header__menu {
  display: none;
}
.link__letter {
  color: #77efe5;
  font-size: 21px;
  letter-spacing: 1.26px;
}
.sidebar {
  width: 250px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0 #000;
          box-shadow: 0 0 5px 0 #000;
  right: -100%;
  top: 0;
  z-index: 99999;
  position: fixed;
  height: 100vh;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.sidebar .menu__item {
  border-bottom: 1px solid #505050;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
.sidebar__wrapper {
  position: relative;
}
.sidebar__close {
  position: absolute;
  width: 30px;
  height: 20px;
  left: -40px;
  top: 10px;
  cursor: pointer;
}
.sidebar__item:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}
.sidebar__item:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu {
  list-style: none;
  color: #505050;
  font-size: 20px;
  width: 500px;
  padding: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu--mobile {
  display: block;
}
.menu--active {
  right: 0;
}
.menu__link {
  color: #505050;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.menu__link:hover {
  color: #000;
}
.mobile {
  width: 30px;
  height: 20px;
  position: relative;
  display: block;
  cursor: pointer;
}
.mobile--active .mobile__item,
.mobile--active:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}
.mobile--active:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.mobile--active:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
      -ms-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}
.mobile__item {
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  background-color: #505050;
  height: 4px;
  width: 100%;
  position: absolute;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.mobile__item:nth-child(1) {
  top: 0px;
}
.mobile__item:nth-child(2) {
  top: 8px;
}
.mobile__item:nth-child(3) {
  top: 16px;
}
@media (min-width: 480px) {
  .header__title {
    font-size: 42px;
  }
}
@media (min-width: 720px) {
  .header__title {
    padding: 150px 0;
  }
  .header__content {
    padding: 82px 0;
  }
}
@media (min-width: 960px) {
  .header__mobile {
    display: none;
  }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar {
    display: none;
  }
  .header__image-wrapper {
    display: block;
  }
}
